.narrow
  .center
    %h2 よくある質問
  %table.table.table-striped
    %tr
      %td
        %a{:href => "#answer1"}
          %h4 Q1
          投稿後に削除は可能ですか？

  %table.table.table-striped
    %tr
      %td#answer1.answer
        %h4 A1
        ご自分の投稿にのみ、[削除]ボタンが表示されます。
