.narrow
  .center
    %h2.rule 免責事項・利用規定
  %ul
    %li 当サービスはは全て無料です。
    %li 当サービスは誰でも自由に参加できる、沖縄県の地域密着型の盗難車情報サイトです。
    %li 本サービスのご利用は利用者ご自身の責任で行って下さい。
    %li 本サービスのご利用により利用者に損害が生じだ場合でも、当サイトは一切責任を負わないものとします。

  %h2.rule 削除の対象となる投稿
  %ul
    %li urlを含む投稿
    %li 広告的な内容の書き込み
