.title {
    width: 100%;
    height: 80px;
    margin-top: 75px;
    background-color: #000000;
    color: yellow;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
}

.subtitle {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    fotn-size: 1.1em;
    line-height: 1.2em;
}

.image {
    margin: 10px auto;
    width: 90%;
}

.download {
    height: 50px;
    margin: 20px auto 0;
    padding-top: 15px;
    background-color: #000000;
    text-align: center;
    a {
        color: yellow;
    }
}

.post-title {
    background-color: #000000;
    color: #FFFFFF;
    a {
        color: #FFFFFF;
    }
}

.caution {
    padding-top: 10px;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #000000;
    height: 60px;
    vertical-align: middle !important;
    margin-bottom: 10px;
}